{% extends 'base.html.twig' %}

{% block title %}RecetteVie{% endblock %}

{% block body %}
<h2>Mon BG de Site de Recettes incroyables mais vraies</h2>
<img src="https://play-lh.googleusercontent.com/p53o1UR9Tt0RXw7FwrridhmFfCeKX8ev6Dt5QbPNV9TQMn66U_27fyp_FoKgblQv9GCn" width="600" height="400"></img>
{% endblock %}
