<footer class="text-body-secondary py-3 my-4">
<div class="container">

    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{ path('home') }}" class="nav-link px-2 text-body-secondary">Accueil</a></li>
      <li class="nav-item"><a href="{{ path('app_recipe_index') }}" class="nav-link px-2 text-body-secondary">Recettes</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
    </ul>
    <p class="text-center text-body-secondary ">&copy; 2024 Cfitech, Inc. &middot; <a href="https://www.twitch.tv/deokingps4">Dunia Julien</a> &middot; <a href="https://www.google.be">Terms</a> &middot; <a href="#">Retour au top</a>
    <p class="float-end mb-1"> 
      <a href="#">Retour au top</a>
    </p>
</div>
 </footer>