{% extends 'base.html.twig' %}
 
{# {% block title %}Liste des Recettes{% endblock %} #}
{% block title "Liste des Recettes" %}

{% block body %}
<h3>Bienvenu dans la liste des Recettes</h3>
{% endblock %}
